// https://www.gencayyildiz.com/blog/node-js-express-pug-nedir-genel-bakis/
// https://expressjs.com/en/starter/static-files.html
html
  head
    title= title
    link(rel="stylesheet", href="/style.css")
  body
    h1= content